.verseNumber {
    color: #dc3545;
}

.highlight {
    /* animation: highlight 5s forwards; */
    background-color: #ffe564;
}

@keyframes highlight {
    from {background-color: #ffc107;}
    /* to {background-color: initial;} */
}

div.footnotes :first-child {
    border-top: 1px solid rgb(33, 37, 41);
    padding-top: 16px;
}